DATABASE_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
RESEND_API_KEY=
EMAIL_FROM=noreply@caribbeanmeatprovisions.com
EMAIL_TO_SALES=sales@caribbeanmeatprovisions.com
EMAIL_REPLY_TO=sales@caribbeanmeatprovisions.com
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GA_MEASUREMENT_ID=
VERCEL_KV_REST_API_URL=
VERCEL_KV_REST_API_TOKEN=
